<div class="big-card">
    <a href="">
        <img src="https://external-preview.redd.it/qW5sXZSe_7w815bbdJh3mwhzBxyEdK13fFyRs3_8ZdQ.jpg?auto=webp&s=6611d9c403cb948d1caf33e595f129bd18d745e3"
            alt="Angular">
    </a>
    <div class="data">
        <p>10/02/2003</p>
    </div>

    <a href="">
        <div class="titulo">
            <h1>Angular melhor framework</h1>
        </div>

        <div class="descricao">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac augue pellentesque, volutpat tortor
                sed,
                sollicitudin nunc. Etiam vel lectus suscipit, egestas diam nec, sagittis erat. Phasellus non lobortis
                nisl,
                a interdum diam.</p>

        </div>
    </a>
</div>

<hr>