@media screen and (max-width:450px){
    .big-card{
        width: 280px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
    }
    .data p{
        margin-top: 10px;
        font-size: 10px;
        color: #555;
    }
    .titulo{
        margin-top: 0.2rem;
        margin-bottom: 0.6rem;
        font-size: 10px;
    }

    .descricao p{
        color: gray;
        font-size: 13px;
    }

    hr{
        display: flex;
        margin-top: 1rem;
        border-color: #444444;
    
    }
}