@media screen and (max-width: 1100px) and (min-width: 766px){
    .title h1{
        color: #ffffff;
        font-size: 145px;
        display: flex;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}