<div class="content">
    
    <div class="img-post">
        <div class="content-img">
            <img src={{photoContent}} alt="">
        </div>
            <div class="content-data">
            <p>{{dataContent}}</p>
        </div>
    </div>
    
    <div class="content-post">
        <div class="content-title">
            <h1>{{titleContent}}</h1>
        </div>
        <div class="content-description">
            <p>{{descriptionContent}}</p>   
        </div>
    </div>
    <a [routerLink]="['']"> << Voltar </a>
</div>
