img{
    width: 600px;
    height: 600px;
    height: auto;
    border-radius: 5px;
}

.content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    white-space: pre-line; 
}

.img-post{
    width: 31%;
    margin: 0 auto;
    padding: 0;
}

.content-post{
    width: 55%;
    margin:3rem auto;
    padding: 0;
}

.content-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-data p{
    margin-left: 2px;
    padding: 5px;
    font-size: 15px;
    color: gray;
}

.content-title h1{
    margin-top: 1rem;
    display: flex;
    font-size: 30px;
}

.content-description p{
    font-size: 20px;
    margin-top: 1.5rem;
}

a{
    margin-top: 3rem;
}
