<hr>
<app-menu-title></app-menu-title>
<hr>
<div class="articles">
    <div class="main">
        <app-big-card
            Id="1"
            photoBigCard="https://i.imgur.com/R6p9iWy.png"
            titleBigCard="THE BLOG"
            descriptionBigCard="Ultimo projeto feito para a disciplina de Desenvolvimento Web com Angular e Typescript"

            dataAtual="17/08/2024 14:50"
        ></app-big-card>
    </div>
    <div class="sub">
        <app-small-card
        Id="2"
        titleSmallCard="Gerenciamento de contatos usando Python e SQLite."
        photoSmallCard="https://i.imgur.com/DzBbRuJ.png"
        dataPost="19/08/2024 10:57"
        ></app-small-card>
        <app-small-card
        Id="3"
        photoSmallCard="https://i.imgur.com/p2RPLQk.png"
        titleSmallCard="Gerenciamento de tarefas usando Python e SQLite."
        dataPost="19/08/2024 11:00"
        ></app-small-card>
        <app-small-card
        Id="4"
        photoSmallCard="https://i.imgur.com/C2j6ZAK.png"
        titleSmallCard="Portfolio simples para mostrar minhas habilidades com Front End."
        dataPost="19/08/2024 11:05"
        ></app-small-card>
    </div>
</div>